In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import sys
import matplotlib as plt

In [ ]:
seoul = pd.read_csv('AL_11_D153_20220622/AL_11_D153_20220622.csv', encoding='cp949')
gyeonggi = pd.read_csv('AL_41_D153_20220622/AL_41_D153_20220622.csv', encoding='cp949')
gangwon = pd.read_csv('AL_42_D153_20220622/AL_42_D153_20220622.csv', encoding='cp949')

C:\Users\tmdal\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
print(seoul.columns)
print(len(seoul.columns))

Index(['고유번호', '법정동코드', '법정동명', '특수지구분코드', '특수지구분명', '지번', '표준지일련번호', '기준연도',
       '사업지구면적', '지목코드', '지목', '실제지목코드', '실제지목', '토지면적', '용도지역코드1', '용도지역명1',
       '용도지역코드2', '용도지역명2', '용도지구코드1', '용도지구명1', '용도지구코드2', '용도지구명2', '저촉율',
       '토지이용상황코드', '토지이용상황', '지형높이코드', '지형높이', '지형형상코드', '지형형상', '도로측면코드',
       '도로측면', '도로거리코드', '도로거리', '공시지가', '표준지소유구분코드', '표준지소유구분명', '소유형태코드',
       '소유형태명', '데이터기준일자'],
      dtype='object')
39

In [ ]:
display(seoul.head(1))
display(gyeonggi.head(1))
display(gangwon.head(1))

,고유번호,법정동코드,법정동명,특수지구분코드,특수지구분명,지번,표준지일련번호,기준연도,사업지구면적,지목코드,...,도로측면코드,도로측면,도로거리코드,도로거리,공시지가,표준지소유구분코드,표준지소유구분명,소유형태코드,소유형태명,데이터기준일자
0,1111010100100030052,1111010100,서울특별시 종로구 청운동,1,일반,3-52,1,2012,0,22,...,10,세로한면(불),0,지정되지않음,346000,NaN,NaN,1,단독소유,2016-11-08

,고유번호,법정동코드,법정동명,특수지구분코드,특수지구분명,지번,표준지일련번호,기준연도,사업지구면적,지목코드,...,도로측면코드,도로측면,도로거리코드,도로거리,공시지가,표준지소유구분코드,표준지소유구분명,소유형태코드,소유형태명,데이터기준일자
0,4111112900100920004,4111112900,경기도 수원시 장안구 파장동,1,일반,92-4,1,2012,0,8,...,4,중로한면,0,지정되지않음,644000,NaN,NaN,0,지정되지않음,2016-11-08

,고유번호,법정동코드,법정동명,특수지구분코드,특수지구분명,지번,표준지일련번호,기준연도,사업지구면적,지목코드,...,도로측면코드,도로측면,도로거리코드,도로거리,공시지가,표준지소유구분코드,표준지소유구분명,소유형태코드,소유형태명,데이터기준일자
0,4211010100100030007,4211010100,강원도 춘천시 봉의동,1,일반,3-7,1,2012,0,8,...,8,세로한면(가),0,지정되지않음,310000,NaN,NaN,0,지정되지않음,2016-11-08

In [ ]:
dongdaemun_idx = seoul['법정동명'].apply(lambda row: row.split()[1]=='동대문구')
yangpyeon_idx = gyeonggi['법정동명'].apply(lambda row: row.split()[1]=='양평군')
sokcho_idx = gangwon['법정동명'].apply(lambda row: row.split()[1]=='속초시')

print('동대문구:', sum(dongdaemun_idx))
print('양평군:', sum(yangpyeon_idx))
print('속초시:', sum(sokcho_idx))

동대문구: 13858
양평군: 31935
속초시: 9762

In [ ]:
dongdaemun = seoul[dongdaemun_idx]
yangpyeon = gyeonggi[yangpyeon_idx]
sokcho = gangwon[sokcho_idx]

In [ ]:
dongdaemun.to_csv('dongdaemun.csv',encoding='cp949', index=False)
yangpyeon.to_csv('yangpyeon.csv',encoding='cp949', index=False)
sokcho.to_csv('sokcho.csv',encoding='cp949', index=False)

In [ ]:
import shapely

In [ ]:
dongdaemun = pd.read_csv('/content/drive/MyDrive/공간정보활용 공모전/dongdaemun.csv',encoding='cp949')
yangpyeon = pd.read_csv('/content/drive/MyDrive/공간정보활용 공모전/yangpyeon.csv',encoding='cp949')
sokcho = pd.read_csv('/content/drive/MyDrive/공간정보활용 공모전/sokcho.csv',encoding='cp949')

In [ ]:
dongdaemun = dongdaemun.drop('Unnamed: 0', axis=1)
yangpyeon = yangpyeon.drop('Unnamed: 0', axis=1)
sokcho = sokcho.drop('Unnamed: 0', axis=1)

In [ ]:
dongdaemun.to_csv('/content/drive/MyDrive/공간정보활용 공모전/dongdaemun.csv',encoding='cp949', index=False)
yangpyeon.to_csv('/content/drive/MyDrive/공간정보활용 공모전/yangpyeon.csv',encoding='cp949', index=False)
sokcho.to_csv('/content/drive/MyDrive/공간정보활용 공모전/sokcho.csv',encoding='cp949', index=False)